<%= link_to "Posts list", posts_path %>

<div> 
    <p> Title </p>
    <%= @post.title %>
    <br>
    <p>Body </p>
    <%= @post.body %>
    <br>
</div>

<br>

<%= link_to "Edit Post", edit_post_path %>
<br>

<%= link_to "Delete Post", post_path(@post), method: :delete, data:{ confirm: "Are you sure?" } %>

